.main-container {
  @apply h-full;
}

.main-container-panel-group {
  @apply h-full;
}

.main-container-editors-panel {
  @apply h-full flex flex-col border-r border-gray-200;
}

.main-container-editors-panel-group {
  @apply flex-1;
}

.main-container-editors-tab{
   @apply px-5 py-2.5 text-white border-0 rounded-tr-[15px] cursor-pointer;
}
.main-container-editor-section {
  @apply h-full flex flex-col;
}

.main-container-editor-header {
  @apply border-b border-gray-200 px-4 py-2 text-sm font-medium flex items-center justify-between;
}

.main-container-editor-header-light {
  @apply bg-slate-100 text-gray-700 font-medium;
}

.main-container-editor-header-dark {
  @apply bg-gray-700 text-white font-medium;
}

.main-container-editor-header-light-selected {
  @apply bg-[#e3eaf1] text-gray-700 font-medium;
}

.main-container-editor-header-light-unselected {
  @apply bg-white text-gray-500 font-medium;
}

.main-container-editor-header-dark-selected {
  @apply bg-gray-700 text-white font-medium;
}

.main-container-editor-header-dark-unselected {
  @apply bg-[#375a72] text-white font-medium;
}

.main-container-editor-header-left {
  @apply flex items-center gap-4;
}

.main-container-ai-assistant-button {
  @apply flex cursor-pointer items-center justify-center px-4 py-1.5 h-8 text-sm bg-white border border-solid border-gray-300 rounded-md transition-all duration-300 ease-in-out hover:border-[#4096ff] hover:text-[#4096ff];
}

.main-container-ai-assistant-icon {
  @apply size-8;
}

.main-container-editor-content {
  @apply flex-1 overflow-hidden relative;
}

.main-container-panel-resize-handle-vertical {
  @apply h-1 bg-gray-200 hover:bg-gray-300 transition-colors;
}

.main-container-panel-resize-handle-horizontal {
  @apply w-1 bg-gray-200 hover:bg-gray-300 transition-colors;
}

.main-container-preview-panel {
  @apply h-full flex flex-col;
}

.main-container-preview-header {
  @apply border-b border-gray-200 px-4 py-2 text-sm font-medium flex justify-between items-center;
}

.main-container-preview-header-light {
  @apply bg-slate-100 text-gray-700;
}

.main-container-preview-header-dark {
  @apply bg-gray-700 text-white;
}

.main-container-preview-content {
  @apply flex-1 p-4 overflow-auto;
}

.main-container-preview-text {
  @apply text-gray-500 h-full;
}

.main-container-agreement {
  @apply flex-1 h-full;
}

.collapse-button {
  @apply transition-opacity duration-200;
}

.collapse-button:hover {
  @apply opacity-70;
}

.collapse-button:active {
  @apply opacity-50;
}